<footer id="footer" style="background-color: #FFF;">

	<div class="container">

		<!-- Footer Widgets
		============================================= -->
		<div class="footer-widgets-wrap clearfix">
			<div class="row clearfix">

				<div class="col-md-5">

					<div class="widget clearfix">
						<div class="row clearfix">
							<div class="col-md-8 bottommargin-sm clearfix" style="color:#888;">
								<img src="/img/footer-logo.png" alt="Canvas Logo" style="display: block;" class="bottommargin-sm">
								<p>Text: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, consequatur facere molestiae iusto atque.</p>

								<a href="#" class="social-icon si-small si-borderless si-colored si-rounded si-facebook">
									<i class="icon-facebook"></i>
									<i class="icon-facebook"></i>
								</a>

								<a href="#" class="social-icon si-small si-borderless si-colored si-rounded si-twitter">
									<i class="icon-twitter"></i>
									<i class="icon-twitter"></i>
								</a>

								<a href="#" class="social-icon si-small si-borderless si-colored si-rounded si-gplus">
									<i class="icon-gplus"></i>
									<i class="icon-gplus"></i>
								</a>

								<a href="#" class="social-icon si-small si-borderless si-colored si-rounded si-pinterest">
									<i class="icon-pinterest"></i>
									<i class="icon-pinterest"></i>
								</a>

								<a href="#" class="social-icon si-small si-borderless si-colored si-rounded si-vimeo">
									<i class="icon-vimeo"></i>
									<i class="icon-vimeo"></i>
								</a>

							</div>
						</div>
					</div>

				</div>

				<div class="col-md-7">
					<div class="row clearfix">

						<div class="col-md-4 bottommargin-sm">
							<div class="widget widget_links app_landing_widget_link clearfix">
								<h4>In News</h4>

								<ul>
									<li><a href="http://codex.wordpress.org/">Documentation</a></li>
									<li><a href="http://wordpress.org/support/forum/requests-and-feedback">Feedback</a></li>
									<li><a href="http://wordpress.org/extend/plugins/">Plugins</a></li>
									<li><a href="http://wordpress.org/support/">Support Forums</a></li>
									<li><a href="http://wordpress.org/extend/themes/">Themes</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-4 bottommargin-sm">
							<div class="widget widget_links app_landing_widget_link clearfix">
								<h4>About Us</h4>

								<ul>
									<li><a href="http://codex.wordpress.org/">Documentation</a></li>
									<li><a href="http://wordpress.org/support/forum/requests-and-feedback">Feedback</a></li>
									<li><a href="http://wordpress.org/extend/plugins/">Plugins</a></li>
									<li><a href="http://wordpress.org/support/">Support Forums</a></li>
									<li><a href="http://wordpress.org/extend/themes/">Themes</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-4 bottommargin-sm">
							<div class="widget widget_links app_landing_widget_link clearfix">
								<h4>Support</h4>

								<ul>
									<li><a href="http://codex.wordpress.org/">Documentation</a></li>
									<li><a href="http://wordpress.org/support/forum/requests-and-feedback">Feedback</a></li>
									<li><a href="http://wordpress.org/extend/plugins/">Plugins</a></li>
									<li><a href="http://wordpress.org/support/">Support Forums</a></li>
									<li><a href="http://wordpress.org/extend/themes/">Themes</a></li>
								</ul>
							</div>
						</div>

					</div>
				</div>

			</div>
		</div>

	</div>

	<!-- Copyrights
	============================================= -->
	<div id="copyrights" class="nobg notoppadding">

		<div class="container clearfix">

			<div class="col_half">
				Copyrights &copy; 2014 All Rights Reserved by Canvas Inc.<br>
				<div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
			</div>

		</div>

	</div><!-- #copyrights end -->

</footer>