<footer id="footer" style="background-color: #FFF;">

	<div class="container">

		<!-- Footer Widgets
		============================================= -->
		<div class="footer-widgets-wrap clearfix">
			<div class="row clearfix">

				<div class="col-md-5">

					<div class="widget clearfix">
						<div class="row clearfix">
							<div class="col-md-8 bottommargin-sm clearfix" style="color:#888;">
								<img src="/img/footer-logo.png" alt="Canvas Logo" style="display: block;" class="bottommargin-sm">
								<p>Nosso sonho é transformar o Brasil e suas empresas, por meio da educação. Só quando inovação e melhoria continua fizerem parte de sua gente, é que a empresa chegará à sua Excelência Competitiva.</p>

								<a href="https://www.facebook.com/projetosemelhoria" class="social-icon si-small si-borderless si-colored si-rounded si-facebook">
									<i class="icon-facebook"></i>
									<i class="icon-facebook"></i>
								</a>

								<a href="https://twitter.com/fm2s" class="social-icon si-small si-borderless si-colored si-rounded si-twitter">
									<i class="icon-twitter"></i>
									<i class="icon-twitter"></i>
								</a>

								<a href="#" class="social-icon si-small si-borderless si-colored si-rounded si-gplus">
									<i class="icon-gplus"></i>
									<i class="icon-gplus"></i>
								</a>

								<a href="#" class="social-icon si-small si-borderless si-colored si-rounded si-pinterest">
									<i class="icon-pinterest"></i>
									<i class="icon-pinterest"></i>
								</a>

								<a href="#" class="social-icon si-small si-borderless si-colored si-rounded si-vimeo">
									<i class="icon-vimeo"></i>
									<i class="icon-vimeo"></i>
								</a>

							</div>
						</div>
					</div>

				</div>

				<div class="col-md-7">
					<div class="row clearfix">

						<div class="col-md-4 bottommargin-sm">
							<div class="widget widget_links app_landing_widget_link clearfix">
								<h4>Empresa</h4>

								<ul>
									<li><a href="http://www.fm2s.com.br/sobre-nos/">Sobre Nós</a></li>
									<li><a href="http://www.fm2s.com.br/contato/">Contato</a></li>
									<li><a href="http://downloads.fm2s.com.br/formulario-trabalhe-conosco">Trabalhe Conosco</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-4 bottommargin-sm">
							<div class="widget widget_links app_landing_widget_link clearfix">
								<h4>Treinamentos</h4>

								<ul>
									<li><a href="http://www.fm2s.com.br/treinamentos-e-cursos/">Treinamentos Corporativos</a></li>
									<li><a href="http://ead.fm2s.com.br">Nossos Cursos</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-4 bottommargin-sm">
							<div class="widget widget_links app_landing_widget_link clearfix">
								<h4>Consultoria</h4>

								<ul>
									<li><a href="http://www.fm2s.com.br/choque-de-gestao/">Choque de Gestão</a></li>
									<li><a href="http://www.fm2s.com.br/gestao-da-rotina/">Gestão da Rotina</a></li>
									<li><a href="http://www.fm2s.com.br/excelencia-operacional/">Excelência Operacional</a></li>
									<li><a href="http://www.fm2s.com.br/implementacao-de-projetos/">Implementação de Projetos</a></li>
									<li><a href="http://www.fm2s.com.br/reestruturacao-de-processos/">Reestruturação de Projetos</a></li>
								</ul>
							</div>
						</div>

					</div>
				</div>

			</div>
		</div>

	</div>

	<!-- Copyrights
	============================================= -->
	<div id="copyrights" class="nobg notoppadding">

		<div class="container clearfix">

			<div class="col_half">
				FM2S &copy; Todos os direitos reservados.<br>
				<!--<div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>-->
			</div>

		</div>

	</div><!-- #copyrights end -->

</footer>