<% layout('layout') -%>

<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

	<!-- Header
	============================================= -->
	<% include header %>
	<!-- #header end -->

	<section id="slider" class="full-screen slider-parallax">
		<div class="slider-parallax-inner" style="background: url('/img/hero/zeilboot.jpg') center center no-repeat; background-size: cover;">
			<div class="vertical-middle" style="z-index: 2;">
				<div class="container dark clearfix">
					<div class="row clearfix">
						<div class="col-md-6 col-sm-8">
							<div class="emphasis-title">
								<h1 class="font-body" style="text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.86);">O primeiro sistema de navegação empresarial</h1>
							</div>
							<a href="#" data-scrollto="#section-pricing" data-easing="easeInOutExpo" data-speed="1250" data-offset="160" class="button button-large button-white button-light capitalize" style="border-radius: 23px;">Teste Grátis</a>
							<a href="//www.youtube.com/watch?v=etg2KJaZTpw" class="hero-action-link" data-lightbox="iframe" style="text-shadow: 2px 2px 8px rgb(0, 0, 0);"><i class="icon-play-sign"></i> Veja o vídeo</a>
						</div>
					</div>
				</div>
			</div>
			<div class="video-wrap" style="position: absolute; height: 100%; z-index: 1;">
				<div class="video-overlay" style="background: rgba(0,0,0,0.2);"></div>
			</div>
		</div>
	</section>

	<!-- Content
	============================================= -->
	<section id="content">
		<div class="content-wrap">

			<!-- Modal -->
			<div class="modal1 mfp-hide" id="modal-login">
				<div class="block divcenter" style="background-color: #FFF; max-width: 400px;">
					<div style="padding: 50px;">
						<h3 class="font-body">Login to your Account</h3>
						<form action="#" method="post" class="nobottommargin">
							<div class="col_full">
								<label class="font-body capitalize" for="login-form-modal-username">Username:</label>
								<input type="text" id="login-form-modal-username" name="login-form-modal-username" value="" class="form-control" />
							</div>

							<div class="col_full">
								<label class="font-body capitalize" for="login-form-modal-password">Password:</label>
								<input type="password" id="login-form-modal-password" name="login-form-modal-password" value="" class="form-control" />
							</div>

							<div class="col_full nobottommargin">
								<button class="button button-rounded nomargin" id="login-form-modal-submit" name="login-form-modal-submit" value="login">Login</button>
								<a href="#" class="fright">Forgot Password?</a>
							</div>
						</form>
						<div class="line line-sm"></div>
						<a href="#" class="button button-rounded btn-block t400 center capitalize si-facebook si-colored noleftmargin norightmargin">Login with Facebook</a>
						<a href="#" class="button button-rounded btn-block t400 center capitalize si-gplus si-colored nomargin">Login with Google</a>
					</div>
				</div>
			</div>

			<div class="container clearfix">

				<div id="section-nextgen" class="page-section bottommargin-lg">
					<div class="row clearfix">

						<div class="col-md-7 center">
							<img src="/img/section/iphone-watch.png" alt="NextGen Framework" data-animate="fadeInLeft">
						</div>

						<div class="col-md-5">
							<div class="topmargin-lg hidden-xs hidden-sm"></div>
							<img src="/img/section/section-1-icon.png" alt="" style="display: block;" class="bottommargin-sm">
							<div class="emphasis-title bottommargin-sm">
								<!--<span class="before-heading"></span>-->
								<h2 style="font-size: 42px;" class="font-body ls1 t400">Apresentamos o Sail System</h2>
							</div>
							<p style="color: #777;" class="lead">O primeiro sistema desenvolvido para ajudar você, a navegar sua empresa.</p>
							<!--<a href="#" class="section-more-link">Learn More <i class="icon-angle-right"></i></a>-->
						</div>

					</div>
				</div>

				<div class="line"></div><div class="clear"></div>

				<div id="section-stunning-graphics" class="page-section topmargin bottommargin-lg">
					<div class="row clearfix">

						<div class="col-md-5">
							<div class="topmargin-lg hidden-xs hidden-sm"></div>
							<img src="/img/section/section-2-icon.png" alt="" style="display: block;" class="bottommargin-sm">
							<div class="emphasis-title bottommargin-sm">
								<!--<span class="before-heading">Retina Ready &#x7E; 534 PPI</span>-->
								<h2 style="font-size: 42px;" class="font-body ls1 t400">Tenha o controle do seu negócio</h2>
							</div>
							<p style="color: #777;" class="lead">Gerir um negócio é muito parecido com comandar um barco num mar revolto. Você tem uma direção definida, uma equipe a coordenar e tormentas a enfrentar.</p>
							<!--<a href="#" class="section-more-link">Learn More <i class="icon-angle-right"></i></a>-->
						</div>

						<div class="col-md-7 center">
							<img src="/img/section/iphone-nexus.png" alt="Stunning Graphics" data-animate="fadeInRight">
						</div>

					</div>
				</div>

				<div class="line"></div><div class="clear"></div>

			</div>

			<div id="section-secured-solutions" class="page-section section nopadding topmargin-sm" style="background: url('/img/section/iphone-3d-bg.png') no-repeat left bottom; background-size: 100% auto;" data-height-lg="700" data-height-md="700" data-height-sm="450" data-height-xs="450" data-height-xxs="450">
				<div class="container clearfix">
					<div class="row clearfix">
						<div class="col-md-5 col-md-offset-6">
							<div class="topmargin-lg hidden-xs hidden-sm"></div>
							<div class="topmargin-lg hidden-xs hidden-sm"></div>
							<img src="/img/section/section-3-icon.png" alt="" style="display: block;" class="bottommargin-sm">
							<div class="emphasis-title bottommargin-sm">
								<!--<span class="before-heading">Privacy Protected</span>-->
								<h2 style="font-size: 42px;" class="font-body ls1 t400">Meta, Indicadores, Processos e Equipe</h2>
							</div>
							<p style="color: #777;" class="lead">O Sail System ajuda você a alinhar sua rota com todos de sua equipe e permite à você saber como cada um está desempenhando sua missão.</p>
							<!--<a href="#" class="section-more-link">Learn More <i class="icon-angle-right"></i></a>-->
						</div>
					</div>
				</div>
				<div class="video-wrap" style="position: absolute; height: 100%; z-index: 1;">
					<div class="video-overlay hidden-xs hidden-sm" style="background: url('/img/section/iphone-3d.png') no-repeat left top; background-size: auto 100%;" data-animate="fadeInLeft"></div>
				</div>
			</div>

			<div class="clear bottommargin"></div>

			<div class="container clearfix">

				<div id="section-pricing" class="page-section nopadding nomargin">

					<div class="pricing-tenure-switcher center bottommargin-sm" data-container="#pricing-switch">
						<span class="pts-left">Mensal</span>
						<div class="pts-switcher">
							<div class="switch">
								<input id="switch-toggle-pricing-tenure" class="switch-toggle switch-toggle-round" type="checkbox">
								<label for="switch-toggle-pricing-tenure"></label>
							</div>
						</div>
						<span class="pts-right">Anual</span>
					</div>

					<div id="pricing-switch" class="pricing row bottommargin-lg clearfix">

						<div class="col-md-4 col-sm-6">

							<div class="pricing-box">
								<div class="pricing-title">
									<h3>Tenente</h3>
								</div>
								<div class="pricing-price">
									GRÁTIS<span class="price-tenure">POR 30 DIAS</span>
								</div>
								<div class="pricing-features">
									<ul>
										<li>Acesso <strong>Limitado</strong></li>
										<li><strong>1</strong> usuário</li>
										<li>Suporte por E-mail e Telefone</li>
									</ul>
								</div>
								<div class="pricing-action">
									<a href="#modal-get-started" data-lightbox="inline" data-pricing-plan="Starter Plan" class="button button-large button-rounded capitalize ls0" style="border-radius: 23px;">Get Started</a>
								</div>
							</div>

						</div>

						<div class="col-md-4 col-sm-6">

							<div class="pricing-box">
								<div class="pricing-title">
									<h3>Capitão</h3>
								</div>
								<div class="pricing-price">
									<div class="pts-switch-content-left"><span class="price-unit">R&dollar;</span>12<span class="price-tenure">Mensal</span></div>
									<div class="pts-switch-content-right"><span class="price-unit">R&dollar;</span>99<span class="price-tenure">Anual</span></div>
								</div>
								<div class="pricing-features">
									<ul>
										<li>Acesso <strong>Completo</strong></li>
										<li>Até <strong>5</strong> usuários</li>
										<li>Suporte por E-mail e Telefone</li>
										<li>Treinamento <strong>Gestão de Processos</strong></li>
									</ul>
								</div>
								<div class="pricing-action">
									<div class="pts-switch-content-left"><a href="#modal-get-started" data-lightbox="inline" data-pricing-plan="Professional Monthly Plan" class="button button-large button-rounded capitalize ls0" style="border-radius: 23px;">Start Free Trial</a></div>
									<div class="pts-switch-content-right"><a href="#modal-get-started" data-lightbox="inline" data-pricing-plan="Professional Yearly Plan" class="button button-large button-rounded capitalize ls0" style="border-radius: 23px;">Start Free Trial</a></div>
								</div>
							</div>

						</div>

						<div class="col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-3">

							<div class="pricing-box">
								<div class="pricing-title">
									<h3>Almirante</h3>
								</div>
								<div class="pricing-price">
									<div class="pts-switch-content-left"><span class="price-unit">R&dollar;</span>19<span class="price-tenure">Mensal</span></div>
									<div class="pts-switch-content-right"><span class="price-unit">R&dollar;</span>149<span class="price-tenure">Anual</span></div>
								</div>
								<div class="pricing-features">
									<ul>
										<li>Acesso <strong>Completo</strong></li>
										<li>Implantação</li>
										<li>Até <strong>10</strong> usuários</li>
										<li>Suporte por E-mail e Telefone</li>
										<li>Treinamento <strong>Gestão de Processos Avançado</strong></li>
									</ul>
								</div>
								<div class="pricing-action">
									<div class="pts-switch-content-left"><a href="#modal-get-started" data-lightbox="inline" data-pricing-plan="Business Monthly Plan" class="button button-large button-rounded capitalize ls0" style="border-radius: 23px;">Start Free Trial</a></div>
									<div class="pts-switch-content-right"><a href="#modal-get-started" data-lightbox="inline" data-pricing-plan="Business Yearly Plan" class="button button-large button-rounded capitalize ls0" style="border-radius: 23px;">Start Free Trial</a></div>
								</div>
							</div>

						</div>

					</div>

					<!-- Modal -->
					<div class="modal1 mfp-hide" id="modal-get-started">
						<div class="block divcenter" style="background-color: #FFF; max-width: 800px;">
							<div style="padding: 50px;">
								<form action="#" id="get-started-form" method="post" class="nobottommargin">

									<div class="row clearfix">
										<div class="col-sm-8">
											<h3 class="font-body">Register for an Account</h3>
										</div>
										<div class="col-sm-4">
											<div id="modal-get-started-package"></div>
										</div>
									</div>

									<div class="col_half">
										<label class="font-body capitalize" for="get-started-form-username">Choose Username:</label>
										<input type="text" id="get-started-form-username" name="get-started-form-username" value="" class="form-control required no-error-msg" />
									</div>

									<div class="col_half col_last">
										<label class="font-body capitalize" for="get-started-form-email">Your Email:</label>
										<input type="email" id="get-started-form-email" name="get-started-form-email" value="" class="form-control required email no-error-msg" />
									</div>

									<div class="clear"></div>

									<div class="col_half">
										<label class="font-body capitalize" for="get-started-form-password">Choose Password:</label>
										<input type="password" id="get-started-form-password" name="get-started-form-password" value="" class="form-control required no-error-msg" />
									</div>

									<div class="col_half col_last">
										<label class="font-body capitalize" for="get-started-form-password">Retype Password:</label>
										<input type="password" id="get-started-form-repassword" name="get-started-form-repassword" value="" class="form-control required no-error-msg" />
									</div>

									<!-- Package Selector Hidden Input Value Setter -->
									<input type="hidden" id="get-started-form-package" name="get-started-form-package" value="Free">

									<div class="col_full">
										<label>
											<input type="checkbox" id="get-started-form-agree" name="get-started-form-agree" value="1" style="position: relative; top: 2px; margin-right: 5px;"> I Agree to the Terms &amp; Conditions
										</label>
									</div>

									<div class="col_full nobottommargin">
										<button class="button button-rounded nomargin" id="get-started-form-submit" name="get-started-form-submit" value="login">Get Started</button>
										<a href="#" data-scrollto="#section-pricing" data-easing="easeInOutExpo" data-speed="1250" data-offset="160" class="fright" onClick="$.magnificPopup.close();">Change Plan?</a>
									</div>

								</form>
							</div>
						</div>
					</div>

				</div>

				<div class="clear"></div>

				<div id="section-faqs" class="page-section nopadding nomargin">

					<div class="row topmargin-sm clearfix">

						<h2 class="center font-body bottommargin-lg">Perguntas Frequentes</h2>

						<div class="col-md-5 col-md-offset-1 col-sm-6 bottommargin-sm">
							<h4 class="font-body" style="margin-bottom:15px;">O que é o Sail System?</h4>
							<p>É um sistema que garante que a Gestão da Rotina de sua empresa funcione do jeito que deveria. Ele te ajuda a desdobrar as metas em indicadores e a distribuí-los entre os membros de sua equipe. Cada um saberá exatamente por qual indicador é responsável e o que a empresa espera dele.</p>
						</div>
						<div class="col-md-5 col-sm-6 bottommargin-sm">
							<h4 class="font-body" style="margin-bottom:15px;">Como o sistema conecta Estratégia e Gestão da Rotina?</h4>
							<p>Por meio do desdobramento dos indicadores em cada um dos processos. O Sail permite que você crie Descrições do Negócio e determine os indicadores de cada uma delas. Além disso, você saberá quem é responsável pelo que e quais os Procedimentos estão suportando seu negócio.</p>
						</div>
						<div class="col-md-5 col-md-offset-1 col-sm-6 bottommargin-sm">
							<h4 class="font-body" style="margin-bottom:15px;">Como eu consigo fazer a gestão do negócio?</h4>
							<p>O Sail permite que você crie seu Dashboard de Gestão. Com ele, todos os gestores terão seu painel de metas e resultados, em que será possível entender o quão longe você está de suas metas e quais processos precisam ser melhorados para que as metas sejam batidas.</p>
						</div>
						<div class="col-md-5 col-sm-6 bottommargin-sm">
							<h4 class="font-body" style="margin-bottom:15px;">De onde surgiu o Sail System?</h4>
							<p>Surgiu da necessidade das empresas de todos os tamanhos e ramos, buscarem à Excelência Profissional. Em nossos mais de 10 anos de consultoria, participamos de diversos projetos que trouxeram grandes resultados. Porém, quando saíamos da empresa, algumas não conseguiam manter os resultados alcançados. Pensando nisso, criamos um Consultor de Processos e Gestão da Rotina totalmente automatizado, que estará ao seu lado na caminhada da empresa rumo à Excelência Operacional.</p>
						</div>

					</div>

				</div>

			</div>

			<div class="section bottommargin-lg" style="background-color: #F8FAFB; border-top: 1px solid #E5E5E5; border-bottom: 1px solid #E5E5E5;">

				<div class="fslider testimonial testimonial-full nobg noborder noshadow" data-animation="fade" style="max-width: none;">
					<div class="flexslider">
						<div class="slider-wrap divcenter" style="max-width: 650px;">
							<div class="slide">
								<div class="testi-image">
									<a href="#"><img src="/img/testimonials/3.jpg" alt="Customer Testimonails"></a>
								</div>
								<div class="testi-content">
									<p>Similique fugit repellendus expedita excepturi iure provident quia eaque. Repellendus, vero numquam?</p>
									<div class="testi-meta">
										Steve Jobs
										<span>Apple Inc.</span>
									</div>
								</div>
							</div>
							<div class="slide">
								<div class="testi-image">
									<a href="#"><img src="/img/testimonials/2.jpg" alt="Customer Testimonails"></a>
								</div>
								<div class="testi-content">
									<p>Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias.</p>
									<div class="testi-meta">
										Collis Ta'eed
										<span>Envato Inc.</span>
									</div>
								</div>
							</div>
							<div class="slide">
								<div class="testi-image">
									<a href="#"><img src="/img/testimonials/1.jpg" alt="Customer Testimonails"></a>
								</div>
								<div class="testi-content">
									<p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero illo rerum!</p>
									<div class="testi-meta">
										John Doe
										<span>XYZ Inc.</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

			<div class="clear"></div>

			<div id="section-gallery" class="page-section nopadding nomargin">

				<div class="container topmargin bottommargin-lg center clearfix">

					<h3 class="ls1 t400" style="font-size: 32px; margin-bottom: 10px;">App Screenshots</h3>
					<p class="lead divcenter" style="max-width: 600px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, repellendus quae fuga ad, beatae odit.</p>
					<a href="#" class="button button-circle capitalize">Check All</a>

				</div>

				<div class="owl-carousel owl-carousel-full image-carousel carousel-widget bottommargin" data-margin="20" data-center="true" data-loop="true" data-nav="false" data-pagi="true" data-items-xxs="2" data-items-xs="2" data-items-sm="4" data-items-md="4" data-items-lg="6" data-stage-padding="30" data-lightbox="gallery">

					<div class="oc-item">
						<a data-lightbox="gallery-item" href="/img/gallery/img-1.jpg"><img src="/img/gallery/img-1.jpg" alt="Image 1"></a>
					</div>
					<div class="oc-item">
						<a data-lightbox="gallery-item" href="/img/gallery/img-2.jpg"><img src="/img/gallery/img-2.jpg" alt="Image 2"></a>
					</div>
					<div class="oc-item">
						<a data-lightbox="gallery-item" href="/img/gallery/img-3.jpg"><img src="/img/gallery/img-3.jpg" alt="Image 3"></a>
					</div>
					<div class="oc-item">
						<a data-lightbox="gallery-item" href="/img/gallery/img-4.jpg"><img src="/img/gallery/img-4.jpg" alt="Image 4"></a>
					</div>
					<div class="oc-item">
						<a data-lightbox="gallery-item" href="/img/gallery/img-5.jpg"><img src="/img/gallery/img-5.jpg" alt="Image 5"></a>
					</div>
					<div class="oc-item">
						<a data-lightbox="gallery-item" href="/img/gallery/img-6.jpg"><img src="/img/gallery/img-6.jpg" alt="Image 5"></a>
					</div>
					<div class="oc-item">
						<a data-lightbox="gallery-item" href="/img/gallery/img-7.jpg"><img src="/img/gallery/img-7.jpg" alt="Image 5"></a>
					</div>

				</div>

			</div>

			<div class="clear"></div>

			<!-- <div class="section nomargin">
				<div class="container clearfix">

					<h2></h2>

				</div>
			</div> -->

			<div class="section" style="padding: 30px 0; color: #999; background-color: #F8FAFB; border-top: 1px solid #E5E5E5; border-bottom: 1px solid #E5E5E5;">
				<div class="container clearfix">
					<div class="row topmargin-lg clearfix">

						<div class="col-md-4 bottommargin">
							<i class="i-plain i-large icon-et-browser inline-block" style="margin-bottom: 30px; color: #999;"></i>
							<div class="heading-block nobottomborder" style="margin-bottom: 15px;">
								<h4 style="font-size: 16px;">Defina claramente os papéis e responsabilidades</h4>
							</div>
							<p class="" style="line-height: 26px;">Com o Sail System, você saberá quem é responsável pelo que. Você saberá quem é responsável por cada uma das metas, indicadores, processos e procedimentos.</p>
						</div>

						<div class="col-md-4 bottommargin">
							<i class="i-plain i-large icon-et-adjustments inline-block" style="margin-bottom: 30px; color: #999;"></i>
							<div class="heading-block nobottomborder" style="margin-bottom: 15px;">
								<h4 style="font-size: 16px;">Organize seus Processos</h4>
							</div>
							<p class="" style="line-height: 26px;">Saiba a finalidade de cada um dos seus processos, por meio da Descrição de Negócios, Indicadores e dos Procedimentos Operacionais Padrão. Tenha o controle de todos seus processos, num único sistema.</p>
						</div>

						<div class="col-md-4 bottommargin">
							<i class="i-plain i-large icon-et-calendar inline-block" style="margin-bottom: 30px; color: #999;"></i>
							<div class="heading-block nobottomborder" style="margin-bottom: 15px;">
								<h4 style="font-size: 16px;">Padronize seus Procedimentos</h4>
							</div>
							<p class="" style="line-height: 26px;">Acabe com a variação na hora da equipe executar seus processos. Tenha seus procedimentos organizados em um só repositório e saiba exatamente o seu resultado.  Elimine a ausência de padrão tão comum em tantas empresas.</p>
						</div>

						<div class="col-md-4 bottommargin">
							<i class="i-plain i-large icon-et-desktop inline-block" style="margin-bottom: 30px; color: #999;"></i>
							<div class="heading-block nobottomborder" style="margin-bottom: 15px;">
								<h4 style="font-size: 16px;">Gestão à Vista</h4>
							</div>
							<p class="" style="line-height: 26px;">Tenha visibilidade total de sua cabine de comando. Saiba quais itens de controle não estão dentro da meta e saiba quem são os responsáveis pelos desvios.</p>
						</div>

						<div class="col-md-4 bottommargin">
							<i class="i-plain i-large icon-et-bargraph inline-block" style="margin-bottom: 30px; color: #999;"></i>
							<div class="heading-block nobottomborder" style="margin-bottom: 15px;">
								<h4 style="font-size: 16px;">Excelência Operacional</h4>
							</div>
							<p class="" style="line-height: 26px;">Saiba quais processos devem ser melhorados para que sua empresa alcance à Excelência em sua operação.</p>
						</div>

						<div class="col-md-4 bottommargin">
							<i class="i-plain i-large icon-et-cloud inline-block" style="margin-bottom: 30px; color: #999;"></i>
							<div class="heading-block nobottomborder" style="margin-bottom: 15px;">
								<h4 style="font-size: 16px;">Alinhe as metas e objetivos da Empresa</h4>
							</div>
							<p class="" style="line-height: 26px;">Garanta que toda empresa saiba exatamente como está contribuindo para o resultado geral. Mostre quais processos e resultados, cada um dos membros de sua equipe é responsável.</p>
						</div>

					</div>
				</div>
			</div>

			<div class="section center nobottommargin nobg">
				<div class="container clearfix">

					<h3 class="ls1 t400" style="font-size: 32px;"><span>10+ anos</span> de Projetos e Treinamentos num só sistema</h3>
					<a href="#modal-login" data-lightbox="inline" class="button button-large button-black capitalize" style="border-radius: 23px;">Entre Agora</a>
					<a href="#" data-scrollto="#section-pricing" data-easing="easeInOutExpo" data-speed="1250" data-offset="160" class="button button-large capitalize" style="border-radius: 23px;">Teste Grátis</a>

					<div class="clear bottommargin"></div>

				</div>
			</div>

			<div class="section notopmargin footer-stick" style="padding: 10px 0; background-color: #F8FAFB; border-top: 1px solid #E5E5E5;">
				<div class="container clearfix">

					<div class="row clearfix">
						<div class="col-md-4">
							<div class="app-footer-features"><i class="icon-line2-globe-alt"></i><h5 class="font-body"><a href="#">20+ milhões</a><span> economizados</span></h5></div>
						</div>
						<div class="col-md-4">
							<div class="app-footer-features"><i class="icon-line2-notebook"></i><h5 class="font-body"><a href="#">8.000+ profissionais</a><span> treinados</span></h5></div>
						</div>
						<div class="col-md-4">
							<div class="app-footer-features"><i class="icon-line2-lock"></i><h5 class="font-body"><a href="#">600+ empresas</a><span> atendidas</span></h5></div>
						</div>
					</div>

				</div>
			</div>

		</div>
	</section><!-- #content end -->

	<!-- Footer
	============================================= -->
	<% include footer %>
	<!-- #footer end -->

</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>
