<% layout('layout') -%>

<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

	<!-- Header
	============================================= -->
	<% include header %>
	<!-- #header end -->

	<section id="slider" class="full-screen slider-parallax">
		<div class="slider-parallax-inner" style="background: url('/img/hero/hero.jpg') center center no-repeat; background-size: cover;">
			<div class="vertical-middle" style="z-index: 2;">
				<div class="container dark clearfix">
					<div class="row clearfix">
						<div class="col-md-6 col-sm-8">
							<div class="emphasis-title">
								<h1 class="font-body">Beautiful Websites.<br>Increased Conversions.</h1>
							</div>
							<a href="#" data-scrollto="#section-pricing" data-easing="easeInOutExpo" data-speed="1250" data-offset="160" class="button button-large button-white button-light capitalize" style="border-radius: 23px;">Try it Free</a>
							<a href="//www.youtube.com/watch?v=etg2KJaZTpw" class="hero-action-link" data-lightbox="iframe"><i class="icon-play-sign"></i> Watch the Video</a>
						</div>
					</div>
				</div>
			</div>
			<div class="video-wrap" style="position: absolute; height: 100%; z-index: 1;">
				<div class="video-overlay" style="background: rgba(0,0,0,0.2);"></div>
			</div>
		</div>
	</section>

	<!-- Content
	============================================= -->
	<section id="content">
		<div class="content-wrap">

			<!-- Modal -->
			<div class="modal1 mfp-hide" id="modal-login">
				<div class="block divcenter" style="background-color: #FFF; max-width: 400px;">
					<div style="padding: 50px;">
						<h3 class="font-body">Login to your Account</h3>
						<form action="#" method="post" class="nobottommargin">
							<div class="col_full">
								<label class="font-body capitalize" for="login-form-modal-username">Username:</label>
								<input type="text" id="login-form-modal-username" name="login-form-modal-username" value="" class="form-control" />
							</div>

							<div class="col_full">
								<label class="font-body capitalize" for="login-form-modal-password">Password:</label>
								<input type="password" id="login-form-modal-password" name="login-form-modal-password" value="" class="form-control" />
							</div>

							<div class="col_full nobottommargin">
								<button class="button button-rounded nomargin" id="login-form-modal-submit" name="login-form-modal-submit" value="login">Login</button>
								<a href="#" class="fright">Forgot Password?</a>
							</div>
						</form>
						<div class="line line-sm"></div>
						<a href="#" class="button button-rounded btn-block t400 center capitalize si-facebook si-colored noleftmargin norightmargin">Login with Facebook</a>
						<a href="#" class="button button-rounded btn-block t400 center capitalize si-gplus si-colored nomargin">Login with Google</a>
					</div>
				</div>
			</div>

			<div class="container clearfix">

				<div id="section-nextgen" class="page-section bottommargin-lg">
					<div class="row clearfix">

						<div class="col-md-7 center">
							<img src="/img/section/iphone-watch.png" alt="NextGen Framework" data-animate="fadeInLeft">
						</div>

						<div class="col-md-5">
							<div class="topmargin-lg hidden-xs hidden-sm"></div>
							<img src="/img/section/section-1-icon.png" alt="" style="display: block;" class="bottommargin-sm">
							<div class="emphasis-title bottommargin-sm">
								<span class="before-heading">Plug into the</span>
								<h2 style="font-size: 42px;" class="font-body ls1 t400">NextGen Framework</h2>
							</div>
							<p style="color: #777;" class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, vel! Eius pariatur nemo expedita.</p>
							<a href="#" class="section-more-link">Learn More <i class="icon-angle-right"></i></a>
						</div>

					</div>
				</div>

				<div class="line"></div><div class="clear"></div>

				<div id="section-stunning-graphics" class="page-section topmargin bottommargin-lg">
					<div class="row clearfix">

						<div class="col-md-5">
							<div class="topmargin-lg hidden-xs hidden-sm"></div>
							<img src="/img/section/section-2-icon.png" alt="" style="display: block;" class="bottommargin-sm">
							<div class="emphasis-title bottommargin-sm">
								<span class="before-heading">Retina Ready &#x7E; 534 PPI</span>
								<h2 style="font-size: 42px;" class="font-body ls1 t400">Stunning Graphics</h2>
							</div>
							<p style="color: #777;" class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, vel! Eius pariatur nemo expedita.</p>
							<a href="#" class="section-more-link">Learn More <i class="icon-angle-right"></i></a>
						</div>

						<div class="col-md-7 center">
							<img src="/img/section/iphone-nexus.png" alt="Stunning Graphics" data-animate="fadeInRight">
						</div>

					</div>
				</div>

				<div class="line"></div><div class="clear"></div>

			</div>

			<div id="section-secured-solutions" class="page-section section nopadding topmargin-sm" style="background: url('/img/section/iphone-3d-bg.png') no-repeat left bottom; background-size: 100% auto;" data-height-lg="700" data-height-md="700" data-height-sm="450" data-height-xs="450" data-height-xxs="450">
				<div class="container clearfix">
					<div class="row clearfix">
						<div class="col-md-5 col-md-offset-6">
							<div class="topmargin-lg hidden-xs hidden-sm"></div>
							<div class="topmargin-lg hidden-xs hidden-sm"></div>
							<img src="/img/section/section-3-icon.png" alt="" style="display: block;" class="bottommargin-sm">
							<div class="emphasis-title bottommargin-sm">
								<span class="before-heading">Privacy Protected</span>
								<h2 style="font-size: 42px;" class="font-body ls1 t400">Secured Solutions</h2>
							</div>
							<p style="color: #777;" class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, vel! Eius pariatur nemo expedita.</p>
							<a href="#" class="section-more-link">Learn More <i class="icon-angle-right"></i></a>
						</div>
					</div>
				</div>
				<div class="video-wrap" style="position: absolute; height: 100%; z-index: 1;">
					<div class="video-overlay hidden-xs hidden-sm" style="background: url('/img/section/iphone-3d.png') no-repeat left top; background-size: auto 100%;" data-animate="fadeInLeft"></div>
				</div>
			</div>

			<div class="clear bottommargin"></div>

			<div class="container clearfix">

				<div id="section-pricing" class="page-section nopadding nomargin">

					<div class="pricing-tenure-switcher center bottommargin-sm" data-container="#pricing-switch">
						<span class="pts-left">Monthly</span>
						<div class="pts-switcher">
							<div class="switch">
								<input id="switch-toggle-pricing-tenure" class="switch-toggle switch-toggle-round" type="checkbox">
								<label for="switch-toggle-pricing-tenure"></label>
							</div>
						</div>
						<span class="pts-right">Yearly</span>
					</div>

					<div id="pricing-switch" class="pricing row bottommargin-lg clearfix">

						<div class="col-md-4 col-sm-6">

							<div class="pricing-box">
								<div class="pricing-title">
									<h3>Starter</h3>
								</div>
								<div class="pricing-price">
									FREE<span class="price-tenure">Limited Access</span>
								</div>
								<div class="pricing-features">
									<ul>
										<li><strong>Full</strong> Access</li>
										<li><i class="icon-code"></i> Source Files</li>
										<li><strong>100</strong> User Accounts</li>
										<li><strong>1 Year</strong> License</li>
										<li>Phone &amp; Email Support</li>
									</ul>
								</div>
								<div class="pricing-action">
									<a href="#modal-get-started" data-lightbox="inline" data-pricing-plan="Starter Plan" class="button button-large button-rounded capitalize ls0" style="border-radius: 23px;">Get Started</a>
								</div>
							</div>

						</div>

						<div class="col-md-4 col-sm-6">

							<div class="pricing-box">
								<div class="pricing-title">
									<h3>Professional</h3>
								</div>
								<div class="pricing-price">
									<div class="pts-switch-content-left"><span class="price-unit">&dollar;</span>12<span class="price-tenure">Monthly</span></div>
									<div class="pts-switch-content-right"><span class="price-unit">&dollar;</span>99<span class="price-tenure">Yearly</span></div>
								</div>
								<div class="pricing-features">
									<ul>
										<li><strong>Full</strong> Access</li>
										<li><i class="icon-code"></i> Source Files</li>
										<li><strong>1000</strong> User Accounts</li>
										<li><strong>2 Years</strong> License</li>
										<li><i class="icon-star3"></i>
										<i class="icon-star3"></i>
										<i class="icon-star3"></i>
										<i class="icon-star3"></i>
										<i class="icon-star3"></i></li>
									</ul>
								</div>
								<div class="pricing-action">
									<div class="pts-switch-content-left"><a href="#modal-get-started" data-lightbox="inline" data-pricing-plan="Professional Monthly Plan" class="button button-large button-rounded capitalize ls0" style="border-radius: 23px;">Start Free Trial</a></div>
									<div class="pts-switch-content-right"><a href="#modal-get-started" data-lightbox="inline" data-pricing-plan="Professional Yearly Plan" class="button button-large button-rounded capitalize ls0" style="border-radius: 23px;">Start Free Trial</a></div>
								</div>
							</div>

						</div>

						<div class="col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-3">

							<div class="pricing-box">
								<div class="pricing-title">
									<h3>Business</h3>
								</div>
								<div class="pricing-price">
									<div class="pts-switch-content-left"><span class="price-unit">&dollar;</span>19<span class="price-tenure">Monthly</span></div>
									<div class="pts-switch-content-right"><span class="price-unit">&dollar;</span>149<span class="price-tenure">Yearly</span></div>
								</div>
								<div class="pricing-features">
									<ul>
										<li><strong>Full</strong> Access</li>
										<li><i class="icon-code"></i> Source Files</li>
										<li><strong>500</strong> User Accounts</li>
										<li><strong>3 Years</strong> License</li>
										<li>Phone &amp; Email Support</li>
									</ul>
								</div>
								<div class="pricing-action">
									<div class="pts-switch-content-left"><a href="#modal-get-started" data-lightbox="inline" data-pricing-plan="Business Monthly Plan" class="button button-large button-rounded capitalize ls0" style="border-radius: 23px;">Start Free Trial</a></div>
									<div class="pts-switch-content-right"><a href="#modal-get-started" data-lightbox="inline" data-pricing-plan="Business Yearly Plan" class="button button-large button-rounded capitalize ls0" style="border-radius: 23px;">Start Free Trial</a></div>
								</div>
							</div>

						</div>

					</div>

					<!-- Modal -->
					<div class="modal1 mfp-hide" id="modal-get-started">
						<div class="block divcenter" style="background-color: #FFF; max-width: 800px;">
							<div style="padding: 50px;">
								<form action="#" id="get-started-form" method="post" class="nobottommargin">

									<div class="row clearfix">
										<div class="col-sm-8">
											<h3 class="font-body">Register for an Account</h3>
										</div>
										<div class="col-sm-4">
											<div id="modal-get-started-package"></div>
										</div>
									</div>

									<div class="col_half">
										<label class="font-body capitalize" for="get-started-form-username">Choose Username:</label>
										<input type="text" id="get-started-form-username" name="get-started-form-username" value="" class="form-control required no-error-msg" />
									</div>

									<div class="col_half col_last">
										<label class="font-body capitalize" for="get-started-form-email">Your Email:</label>
										<input type="email" id="get-started-form-email" name="get-started-form-email" value="" class="form-control required email no-error-msg" />
									</div>

									<div class="clear"></div>

									<div class="col_half">
										<label class="font-body capitalize" for="get-started-form-password">Choose Password:</label>
										<input type="password" id="get-started-form-password" name="get-started-form-password" value="" class="form-control required no-error-msg" />
									</div>

									<div class="col_half col_last">
										<label class="font-body capitalize" for="get-started-form-password">Retype Password:</label>
										<input type="password" id="get-started-form-repassword" name="get-started-form-repassword" value="" class="form-control required no-error-msg" />
									</div>

									<!-- Package Selector Hidden Input Value Setter -->
									<input type="hidden" id="get-started-form-package" name="get-started-form-package" value="Free">

									<div class="col_full">
										<label>
											<input type="checkbox" id="get-started-form-agree" name="get-started-form-agree" value="1" style="position: relative; top: 2px; margin-right: 5px;"> I Agree to the Terms &amp; Conditions
										</label>
									</div>

									<div class="col_full nobottommargin">
										<button class="button button-rounded nomargin" id="get-started-form-submit" name="get-started-form-submit" value="login">Get Started</button>
										<a href="#" data-scrollto="#section-pricing" data-easing="easeInOutExpo" data-speed="1250" data-offset="160" class="fright" onClick="$.magnificPopup.close();">Change Plan?</a>
									</div>

								</form>
							</div>
						</div>
					</div>

				</div>

				<div class="clear"></div>

				<div id="section-faqs" class="page-section nopadding nomargin">

					<div class="row topmargin-sm clearfix">

						<h2 class="center font-body bottommargin-lg">Frequently Asked Questions</h2>

						<div class="col-md-5 col-md-offset-1 col-sm-6 bottommargin-sm">
							<h4 class="font-body" style="margin-bottom:15px;">How do I become an author?</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi.</p>
						</div>
						<div class="col-md-5 col-sm-6 bottommargin-sm">
							<h4 class="font-body" style="margin-bottom:15px;">Helpful Resources for Authors</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, placeat, architecto rem dolorem dignissimos repellat veritatis in et eos doloribus magnam aliquam ipsa alias assumenda officiis quasi sapiente suscipit.</p>
						</div>
						<div class="col-md-5 col-md-offset-1 col-sm-6 bottommargin-sm">
							<h4 class="font-body" style="margin-bottom:15px;">How much money can I make?</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, fugiat iste nisi tempore nesciunt nemo fuga? Nesciunt, delectus laboriosam nisi repudiandae nam fuga saepe animi recusandae.</p>
						</div>
						<div class="col-md-5 col-sm-6 bottommargin-sm">
							<h4 class="font-body" style="margin-bottom:15px;">Can I offer my items for free on a promotional basis?</h4>
							<p>Laboriosam iusto quia nulla ad voluptatibus iste beatae voluptas corrupti facilis accusamus recusandae sequi debitis reprehenderit quibusdam. Facilis eligendi a exercitationem nisi et placeat excepturi velit!</p>
						</div>
						<div class="col-md-5 col-md-offset-1 col-sm-6 bottommargin-sm">
							<h4 class="font-body" style="margin-bottom:15px;">An Introduction to the Marketplaces for Authors</h4>
							<p>Quisquam atque vero delectus corrupti! Quo, maiores, dolorem, hic commodi nulla ratione accusamus doloribus fuga magnam id temporibus dignissimos deleniti quidem ipsam corporis sapiente nam expedita saepe quas ab? Vero, assumenda.</p>
						</div>
						<div class="col-md-5 col-sm-6">
							<h4 class="font-body" style="margin-bottom:15px;">How does the Tuts+ Premium affiliate program work?</h4>
							<p class="nobottommargin">Reprehenderit similique nemo voluptate ullam natus illum magnam alias nobis doloremque delectus ipsa dicta repellat maxime dignissimos eveniet quae debitis ratione assumenda tempore officiis fugiat dolor.</p>
						</div>

					</div>

				</div>

			</div>

			<div class="section bottommargin-lg" style="background-color: #F8FAFB; border-top: 1px solid #E5E5E5; border-bottom: 1px solid #E5E5E5;">

				<div class="fslider testimonial testimonial-full nobg noborder noshadow" data-animation="fade" style="max-width: none;">
					<div class="flexslider">
						<div class="slider-wrap divcenter" style="max-width: 650px;">
							<div class="slide">
								<div class="testi-image">
									<a href="#"><img src="/img/testimonials/3.jpg" alt="Customer Testimonails"></a>
								</div>
								<div class="testi-content">
									<p>Similique fugit repellendus expedita excepturi iure provident quia eaque. Repellendus, vero numquam?</p>
									<div class="testi-meta">
										Steve Jobs
										<span>Apple Inc.</span>
									</div>
								</div>
							</div>
							<div class="slide">
								<div class="testi-image">
									<a href="#"><img src="/img/testimonials/2.jpg" alt="Customer Testimonails"></a>
								</div>
								<div class="testi-content">
									<p>Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias.</p>
									<div class="testi-meta">
										Collis Ta'eed
										<span>Envato Inc.</span>
									</div>
								</div>
							</div>
							<div class="slide">
								<div class="testi-image">
									<a href="#"><img src="/img/testimonials/1.jpg" alt="Customer Testimonails"></a>
								</div>
								<div class="testi-content">
									<p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero illo rerum!</p>
									<div class="testi-meta">
										John Doe
										<span>XYZ Inc.</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

			<div class="clear"></div>

			<div id="section-gallery" class="page-section nopadding nomargin">

				<div class="container topmargin bottommargin-lg center clearfix">

					<h3 class="ls1 t400" style="font-size: 32px; margin-bottom: 10px;">App Screenshots</h3>
					<p class="lead divcenter" style="max-width: 600px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, repellendus quae fuga ad, beatae odit.</p>
					<a href="#" class="button button-circle capitalize">Check All</a>

				</div>

				<div class="owl-carousel owl-carousel-full image-carousel carousel-widget bottommargin" data-margin="20" data-center="true" data-loop="true" data-nav="false" data-pagi="true" data-items-xxs="2" data-items-xs="2" data-items-sm="4" data-items-md="4" data-items-lg="6" data-stage-padding="30" data-lightbox="gallery">

					<div class="oc-item">
						<a data-lightbox="gallery-item" href="/img/gallery/img-1.jpg"><img src="/img/gallery/img-1.jpg" alt="Image 1"></a>
					</div>
					<div class="oc-item">
						<a data-lightbox="gallery-item" href="/img/gallery/img-2.jpg"><img src="/img/gallery/img-2.jpg" alt="Image 2"></a>
					</div>
					<div class="oc-item">
						<a data-lightbox="gallery-item" href="/img/gallery/img-3.jpg"><img src="/img/gallery/img-3.jpg" alt="Image 3"></a>
					</div>
					<div class="oc-item">
						<a data-lightbox="gallery-item" href="/img/gallery/img-4.jpg"><img src="/img/gallery/img-4.jpg" alt="Image 4"></a>
					</div>
					<div class="oc-item">
						<a data-lightbox="gallery-item" href="/img/gallery/img-5.jpg"><img src="/img/gallery/img-5.jpg" alt="Image 5"></a>
					</div>
					<div class="oc-item">
						<a data-lightbox="gallery-item" href="/img/gallery/img-6.jpg"><img src="/img/gallery/img-6.jpg" alt="Image 5"></a>
					</div>
					<div class="oc-item">
						<a data-lightbox="gallery-item" href="/img/gallery/img-7.jpg"><img src="/img/gallery/img-7.jpg" alt="Image 5"></a>
					</div>

				</div>

			</div>

			<div class="clear"></div>

			<!-- <div class="section nomargin">
				<div class="container clearfix">

					<h2></h2>

				</div>
			</div> -->

			<div class="section" style="padding: 30px 0; color: #999; background-color: #F8FAFB; border-top: 1px solid #E5E5E5; border-bottom: 1px solid #E5E5E5;">
				<div class="container clearfix">
					<div class="row topmargin-lg clearfix">

						<div class="col-md-4 bottommargin">
							<i class="i-plain i-large icon-et-browser inline-block" style="margin-bottom: 30px; color: #999;"></i>
							<div class="heading-block nobottomborder" style="margin-bottom: 15px;">
								<h4 style="font-size: 16px;">Cross Browser</h4>
							</div>
							<p class="" style="line-height: 26px;">Canvas 4 Loads Faster &amp; Smoother than the Previous Versions providing an Optimal Experience for your Users.</p>
						</div>

						<div class="col-md-4 bottommargin">
							<i class="i-plain i-large icon-et-adjustments inline-block" style="margin-bottom: 30px; color: #999;"></i>
							<div class="heading-block nobottomborder" style="margin-bottom: 15px;">
								<h4 style="font-size: 16px;">Flexible Options</h4>
							</div>
							<p class="" style="line-height: 26px;">Unleash the Power of Mega Menus by adding Widgets &amp; Mixed Columns powered by the Bootstrap Grid.</p>
						</div>

						<div class="col-md-4 bottommargin">
							<i class="i-plain i-large icon-et-calendar inline-block" style="margin-bottom: 30px; color: #999;"></i>
							<div class="heading-block nobottomborder" style="margin-bottom: 15px;">
								<h4 style="font-size: 16px;">Scheduled Backups</h4>
							</div>
							<p class="" style="line-height: 26px;">Amazing set of New Components giving you Opportunity to Create an Interactive Website for your Business.</p>
						</div>

						<div class="col-md-4 bottommargin">
							<i class="i-plain i-large icon-et-desktop inline-block" style="margin-bottom: 30px; color: #999;"></i>
							<div class="heading-block nobottomborder" style="margin-bottom: 15px;">
								<h4 style="font-size: 16px;">Responsive Ready</h4>
							</div>
							<p class="" style="line-height: 26px;">Convert any Grid to an Isotope Grid easily with Filterable Options making it extremely flexible and powerful.</p>
						</div>

						<div class="col-md-4 bottommargin">
							<i class="i-plain i-large icon-et-bargraph inline-block" style="margin-bottom: 30px; color: #999;"></i>
							<div class="heading-block nobottomborder" style="margin-bottom: 15px;">
								<h4 style="font-size: 16px;">Increased Conversions</h4>
							</div>
							<p class="" style="line-height: 26px;">Display an Alternate Lighter Menu on Responsive Devices with the same Markup Code as before. Awesomely Useful.</p>
						</div>

						<div class="col-md-4 bottommargin">
							<i class="i-plain i-large icon-et-cloud inline-block" style="margin-bottom: 30px; color: #999;"></i>
							<div class="heading-block nobottomborder" style="margin-bottom: 15px;">
								<h4 style="font-size: 16px;">Cloud Sharing</h4>
							</div>
							<p class="" style="line-height: 26px;">Added SPAM Protection for your Precious Forms so that you receive Emails only from Authentic Real Users.</p>
						</div>

					</div>
				</div>
			</div>

			<div class="section center nobottommargin nobg">
				<div class="container clearfix">

					<h3 class="ls1 t400" style="font-size: 32px;">Experienced &amp; Trusted by <span>16,000+</span> People worldwide</h3>
					<a href="#modal-login" data-lightbox="inline" class="button button-large button-black capitalize" style="border-radius: 23px;">Login Now</a>
					<a href="#" data-scrollto="#section-pricing" data-easing="easeInOutExpo" data-speed="1250" data-offset="160" class="button button-large capitalize" style="border-radius: 23px;">Try it Free</a>

					<div class="clear bottommargin"></div>

				</div>
			</div>

			<div class="section notopmargin footer-stick" style="padding: 10px 0; background-color: #F8FAFB; border-top: 1px solid #E5E5E5;">
				<div class="container clearfix">

					<div class="row clearfix">
						<div class="col-md-4">
							<div class="app-footer-features"><i class="icon-line2-globe-alt"></i><h5 class="font-body"><a href="#">Free Taining</a><span> &amp; 24-hour coverage</span></h5></div>
						</div>
						<div class="col-md-4">
							<div class="app-footer-features"><i class="icon-line2-notebook"></i><h5 class="font-body"><a href="#">99.99% Uptime</a><span> the last 12 months</span></h5></div>
						</div>
						<div class="col-md-4">
							<div class="app-footer-features"><i class="icon-line2-lock"></i><h5 class="font-body"><span>Serious about</span> <a href="#">Security</a> <span>&amp;</span> <a href="#">Privacy</a></h5></div>
						</div>
					</div>

				</div>
			</div>

		</div>
	</section><!-- #content end -->

	<!-- Footer
	============================================= -->
	<% include footer %>
	<!-- #footer end -->

</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>
